<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>Head}}
    <img src="/imgs/McLaren_Artura_art_car_3.jpg" alt="sdfsd">
    <p>{{author}}</p>
</body>
</html>